.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}

.body {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: left;
}

ul {
  text-align: left;
}

#item-edit-form {
  display: inline-block;
}

#item-delete-form {
  display: inline-block;
}

p#error-message {
  color: red;
}

div.bidding {
  text-align: left;
}

.row{
  margin-top: 15px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#blocked-words-list ul{
  list-style-type: none;
}

#muted-user-list ul{
  list-style-image: url('sqpurple.gif');
}
