body{
  font-size: 18px;
  background-color: #E4F0FB;
}

ul {
  text-align: left;
}

ul li {
  margin-top: 15px;
}

h1 {
  color: #337ab7;
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  margin-bottom: 30px;
  margin-top: 30px;
}

h2, h3, h4 {
  color: #337ab7;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
}

p {
  font-size: 14px;
}

.container {
  margin: 20px auto;
  width: 768px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted #02294A;
  text-align: center;
  background-color: white;
}

.body {
  margin: 20px auto;
  width: 768px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted #02294A;
  text-align: left;
  background-color: white;
}

#item-edit-form {
  display: inline-block;
}

#item-delete-form {
  display: inline-block;
}

p#error-message {
  color: red;
}

div.bidding {
  text-align: left;
}

.row{
  margin-top: 15px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#blocked-words-list ul{
  list-style-type: none;
}

#muted-user-list ul{
  list-style-type: none;
}

#show-tweet{
  color: red;
}

