 <form action="/words" method="post">

 <label for="exampleInputName2">Input one word at a time, separated by commas:</label>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" name="words" class="form-control">
      </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-danger">
</form>
