<h1>Add new word:</h1>
  <form action="/words" method="post">

  <div class="row">
    <div class="col-xs-6">
    <label for="exampleInputName2">Word:</label>
      <input type="text" name="blocked_word[word]" class="form-control">
    </div>
  </div>

  <input type="submit" value="Submit" id="submit-button">
</form>
