<h1>Add new words:</h1>
  <form action="/words" method="post">

  <div class="row">
    <div class="col-xs-6">
    <label for="exampleInputName2">Input one word at a time, separated by commas:</label>
      <input type="text" name="words" class="form-control">
    </div>
  </div>

  <input type="submit" value="Submit" id="submit-button">
</form>
